
/**
 * Built for Seven.
 */

/**
 * Modal page.
 */

html #branding {
  display: none;
}

html #page {
  margin: 0 0 0 0;
  padding: 0;
}

/**
 * Selection view.
 */

.view.webform-answers-webform-selection h2 {
  margin-top: 0;
}
.view.webform-answers-webform-selection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.view.webform-answers-webform-selection > .view-filters {
  flex: 0 0 100%;
}
.view.webform-answers-webform-selection > .view-content {
  flex: 0 0 48%;
}
.view.webform-answers-webform-selection a.active {
  font-weight: bold;
}
.view.webform-answers-webform-selection > .view-footer {
  flex: 0 0 48%;
}
.view.webform-answers-webform-selection label {
  font-weight: normal;
}
.view.webform-answers-webform-selection .selectable label {
  cursor: pointer;
}
.view.webform-answers-webform-selection > .item-list {
  flex: 0 0 48%;
  order: 9;
}
