
/**
 * Built for Seven.
 */

/**
 * Entity form page.
 */

.webform-answers-modal {
  position: fixed;
}
.webform-answers-modal > .ui-dialog-content {
  overflow: visible;
  padding: 10px;
  box-shadow: 0 0 20px #aaa inset;
}
.webform-answers-modal .ui-button-text-only .ui-button-text {
  padding: 0;
}
